@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
html {
  font-family: "Inter";
}
.quote-box{
  position: absolute;
  top: 56px;
  left: 165px;
  color: #000;
  font-size: 18px;
  width: 50%;

}