@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container{
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative;
} */
html {
  font-family: "Inter";
}
/* .quote-box{
  position: absolute;
  top: 56px;
  left: 165px;
  color: #fff;
  font-size: 18px;
  width: 50%;

} */
/* .cover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 40%;
} */
/* .more-less{
  width: 60%;
  height: 100%;
  background: none;
  color: #000;
  opacity: 0.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  border: none;
} */
/* .cover-img {
  width: 100%;
  height: 100%;
} */
/* .button-box {
  width: 146px;
  height: 56px;
  border-radius: 28px;
  background-color: #fff;
  position: absolute;
  right: 165px;
  bottom: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
} */
/* .arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .hidden {
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(20.3871px);
  justify-content: space-between;
  padding-top: 74px;
  padding-bottom: 74px;
} */
/* .left-side{
  width: 50%;
  height: 100%;
  border-right: 1px solid rgba(48, 48, 48, 0.25);
  padding-left: 165px;

} */
/* .right-side{
  width: 40%;
  height: 100%;
  
} */
/* .left-side p, .right-side p{
  font-size: 15px;
  color: #303030;
  font-weight: 400;
  letter-spacing: 3px;
} */
/* .left-side h4, .right-side h4{
  font-weight: 700;
  font-size: 56px;
  color: #303030;
  margin-bottom: 42px;
} */